
body {
  background: lightcyan;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: Pacifico, cursive;
    font-size: 40px;
    line-height: 42px;
  }
  h3 {
    font-family: Pacifico, cursive;
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .content img {
    max-width: 92%;
  }
}

@media screen and (max-height: 956px) {
  .content img {
    max-height: 70vh;
  }
}

@media screen and (max-height: 750px) {
  .content img {
    height: 200px;
  }
}
